body {
    font-family: Karla, sans-serif;
    color: #484848;
}
nav ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}
header {
    background-color: #FF5A5F;
    height: 80px;
}
body {
    margin: 0;
    padding: 0;
}
#logo {
    height: 80px;
}
nav {
    display: inline-block;
    float:right;
}
nav li {
    display: inline-block;
    margin-left: 40px;
    line-height: 80px;
}
nav a{
    color:white;
    font-size: 18px;
    text-decoration-line: none;
    cursor: pointer;
}
nav a:hover{
    text-decoration: underline;
}
.content {
    width: 900px;
    margin: auto;
}
section {
    padding: 50px;
    border: 1px solid #cccccc;  
    margin-bottom: 0px;
}

section img {
    width: 800px;
    text-align: center;
}
h1 {
    font-size: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
}

h2 {
    font-size: 32px;
    text-align: center;
}

section p {
    font-size: 16px;
    text-align: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}